<%= turbo_frame_tag 'toast' do %>
  <div class="flex w-full justify-center">
    <div
      data-controller="toast"
      data-toast-alert-value="<%= alert %>"
      data-toast-notice-value="<%= notice %>"
      class="fixed bottom-0 mb-6 hidden">
      <div data-toast-target="messageWrapper" class="shadow-md text-gray-800 rounded-md px-4 py-2">
        <span data-toast-target="message" class="block text-center"></span>
      </div>
    </div>
  </div>
<% end %>