<div data-controller="dropdown" class="ml-3 relative">
  <div>
    <button data-action="click->dropdown#toggle click@window->dropdown#hide" type="button" class="max-w-xs bg-white flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
      <span class="sr-only">Open user menu</span>
      <img class="h-8 w-8 rounded-full" src="icons/avatar_placeholder.svg" alt="">
    </button>
  </div>

  <div data-dropdown-target="dropdown" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
    <%= link_to('Account', profile_index_path, class: 'text-left cursor-pointer block w-full px-4 py-2 text-sm text-gray-700 bg-white') %>
    <%= button_to('Sign Out', destroy_user_session_path, method: :delete, remote: true, class: 'text-left cursor-pointer block w-full px-4 py-2 text-sm text-gray-700 bg-white') %>
  </div>
</div>