<% @posts.each do |post| %>
  <%= link_to post_path(post), class: "block rounded-md py-3 mb-6 transition cursor-pointer group" do %>
    <h2 class="font-bold group-hover:underline mt-2"><%= post.title %></h2>
    <p class="text-gray-500"><%= post.summary %></p>
    <p class="text-gray-400 m-0 text-sm"><%= post.created_at.strftime('%d %b %Y') %></p>
  <% end %>
<% end %>