<div class="flex justify-between align-center">
  <%= link_to root_path, class: 'hover:underline text-pink-600' do %>
    <h4>< Back</h4>
  <% end %>
  <h2>New Post</h2>
</div>

<%= render partial: 'form' %>